.navbar{
    background-color: #05051E !important;
}

.nav-link, .navbar-text{
    font-weight: 500;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}

.navbar-brand {
    line-height: 1;
    padding: 0;
    font-size: 32px;
    line-height: 1;
    padding: 0;
    font-family:  'DM Sans', sans-serif;;
    font-weight: 900;
    color: #fff;
}

.default-btn {
    background: linear-gradient(94deg, #43A5FE 21.18%, #0064C1 104.4%);
    transition:.5s;
    padding: 15px 25px 15px 25px;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    border: none;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    width: 150px;
    text-align: center;
}
.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-decoration-color: #43A5FE;  /* Color of the underline */
    text-decoration-thickness: 2px;  /* Thickness of the underline */
    text-underline-offset: 8px;      /* Space between text and underline */
    color: #fff;                     /* Text color */
  }
  
  