{% extends 'base.html' %}
{% load static %}

{% block title %}
Blogs
{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-12"> 
      <h2 class="h4 mb-5 fw-bold text-center gradient-text">All Blog Posts</h2>
      <div class="row g-4"> 
        {% for article in blog_articles reversed %}
        <div class="col-md-4"> 
          <div class="card blog-card feature-box h-100 shadow-sm border-0 rounded-4">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h3 class="h5 fw-semibold mb-2">{{ article.youtube_title }}</h3>
                <p class="text-light mb-3">{{ article.generated_content|truncatechars:80 }}</p>
              </div>
              <a href="blog-details/{{ article.id }}" class="gradient-text">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
